<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{
            $t("customs_broker_list.add_custom_brokers")
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('customs_broker_list.email')"
                    v-model="customBroker.email"
                    :rules="[
                      rules.emailRequired,
                      rules.email,
                      rules.emailLength
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    :label="$t('customs_broker_list.company_name')"
                    v-model="customBroker.company_name"
                    :rules="[rules.required]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    :label="$t('customs_broker_list.company_name_ar')"
                    v-model="customBroker.company_name_ar"
                    :rules="[rules.required]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('customs_broker_list.phone')"
                    :counter="9"
                    :rules="[rules.required, rules.phone, rules.min]"
                    prefix="+966"
                    type="tel"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('customs_broker_list.website')"
                    v-model="customBroker.website"
                    :rules="[rules.required]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('customs_broker_list.address')"
                    :rules="[rules.required]"
                    v-model="address.address_line1"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-autocomplete
                    :label="$t('customs_broker_list.country')"
                    :items="countriesList"
                    :rules="[rules.required]"
                    v-model="address.country"
                    required
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    :label="$t('customs_broker_list.city')"
                    v-model="address.city"
                    :rules="[rules.required]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-file-input
                    accept="image/png, image/jpeg, image/bmp"
                    v-model="logo"
                    :label="$t('customs_broker_list.logo')"
                  ></v-file-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-file-input
                    accept="application/pdf"
                    v-model="documents"
                    chips
                    :label="$t('customs_broker_list.documents')"
                    multiple
                    :rules="[rules.required]"
                  ></v-file-input>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
          <small>{{ $t("customs_broker_list.required_fields") }}</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            {{ $t("customs_broker_list.close") }}
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            :disabled="!valid"
            @click="addCustomBroker"
          >
            {{ $t("customs_broker_list.submit") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { Address, CustomBroker } from "~/utils/type";
import { countries } from "~/utils/countries";
import { getRenovationCore } from "~/plugins/renovation.core";
import { getMessagesStore } from "~/store/messages";
import { getJSON, RequestResponse } from "@leam-tech/renovation-core";

@Component({
  components: {}
})
export default class AddCustomBroker extends Vue {
  messageStore = getMessagesStore(this.$store);
  @Prop() dialog!: boolean;
  valid = false;
  logo: File = {} as File;
  documents: Array<File> = [];
  customBroker: CustomBroker = {} as CustomBroker;
  address: Address = {} as Address;
  countriesList = countries;
  MessageStore = getMessagesStore(this.$store);

  get rules() {
    return {
      emailRequired: v => !!v || this.$t("rules.email_required"),
      email: v => /.+@.+\..+/.test(v) || this.$t("rules.email_invalid"),
      emailLength: v => v.length < 70 || this.$t("rules.max_seventy"),
      required: (value: any) => !!value || this.$t("rules.required"),
      min: (v: { length: number }) => {
        if (v && v.length) {
          return v.length >= 9 || this.$t("rules.min_nine");
        } else {
          return false;
        }
      },
      phone: (value: string) => {
        const pattern = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/;
        return pattern.test(value) || this.$t("rules.invalid_number");
      }
    };
  }

  async addCustomBroker() {
    const r = await getRenovationCore().call({
      cmd: "agreement_backend.api.customs_brokers.add_customs_broker",
      args: {
        company_name: this.customBroker.company_name,
        company_name_ar: this.customBroker.company_name_ar,
        website: this.customBroker.website,
        email: this.customBroker.email,
        address: {
          address_line1: this.address.address_line1,
          city: this.address.city,
          country: this.address.country,
          phone: this.address.phone
        }
      }
    });
    if (r.success) {
      this.messageStore.showMessage({
        message: "Uploading! this will take some time"
      });
      let newBroker = r.data.message as CustomBroker;
      newBroker.documents = [];
      let logoUploadResponse = await getRenovationCore()
        .storage.uploadFile({
          file: this.logo
        })
        .toPromise();

      if (logoUploadResponse!.requestResponse?.success) {
        newBroker.logo = logoUploadResponse.requestResponse.data.file_url;
      } else if (!logoUploadResponse!.requestResponse?.success) {
        if (logoUploadResponse.requestResponse) {
          this.displayMessage(logoUploadResponse.requestResponse);
        }
      }

      for (const doc of this.documents) {
        const documentUpload = await getRenovationCore()
          .storage.uploadFile({
            file: doc
          })
          .toPromise();
        if (documentUpload!.requestResponse?.success) {
          newBroker.documents.push({
            title: doc.name,
            document: documentUpload.requestResponse.data.file_url
          });
        } else if (!documentUpload!.requestResponse?.success) {
          if (documentUpload.requestResponse) {
            this.displayMessage(documentUpload.requestResponse);
          }
        }
      }
      const broker = await getRenovationCore().model.saveDoc({
        doc: newBroker
      });
      if (broker.success) {
        this.messageStore.showMessage({
          message: "Successfully Uploaded"
        });
        this.$emit("close");
      } else {
        this.displayMessage(broker);
      }
    } else {
      this.displayMessage(r);
    }
  }

  displayMessage(r: RequestResponse<any>) {
    if (r.data._server_messages) {
      let message = "";
      r.data._server_messages = getJSON(r.data._server_messages);
      for (let messg of r.data._server_messages) {
        messg = getJSON(messg);
        message += `${messg.message}\n`;
      }
      this.MessageStore.showMessage({ message: message });
    }
  }
}
</script>

<style scoped></style>
