<template>
  <div>
    <div
      v-swiper:mySwiper="swiperOption"
      @mouseover="HoverPause()"
      @mouseleave="HoverPlay()"
      class="swiper-container"
    >
      <!--Any of the slide that will be passed here should be wrapped in a div of class swiper-wrapper and slide with swiper-slide-->
      <slot></slot>
      <!--SWIPER BUTTONS-->
      <div
        class="swiper-button-prev"
        slot="button-prev"
        @click="pausedDuration = true"
        v-if="navigation"
      ></div>
      <div
        class="swiper-button-next"
        slot="button-next"
        @click="pausedDuration = true"
        v-if="navigation"
      ></div>
      <!--pagination-->
      <div
        class="swiper-pagination swiper-pagination-bullets"
        v-if="pagination"
      ></div>
      <!--scrollbar-->
      <div class="swiper-scrollbar" slot="scrollbar" v-if="scrollbar"></div>
      <!--PAUSE AND PLAY BUTTONS-->
    </div>
    <div v-if="displayButtons" class="controls">
      <v-btn
        color="dark"
        icon="pause"
        class="mx-1"
        @click="pauseAutoplay()"
        :radius="true"
      ></v-btn>
      <v-btn
        color="success"
        icon="play_arrow"
        class="mx-1"
        @click="playAutoplay()"
        :radius="true"
      ></v-btn>
    </div>
    <!--LOADING-->
    <div v-if="displayLoading" class="loader">
      <div class="linear-activity">
        <div class="determinate" :style="animationDuration()"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component({})
export default class CarouselComponent extends Vue {
  @Prop({ default: false }) scrollbar!: boolean;
  @Prop({ default: false }) pagination!: boolean;
  @Prop({ default: false }) displayLoading!: boolean;
  @Prop({ default: false }) displayButtons!: boolean;
  @Prop({ default: false }) pauseOnHover!: boolean;
  @Prop({ default: false }) playAfterHover!: boolean;
  @Prop({ default: 300000 }) timeout!: number;
  @Prop({ default: false }) navigation!: boolean;
  private mySwiper: any;
  private pausedDuration = false;

  @Prop() swiperOption!: {
    initialSlide?: number;
    speed?: number;
    direction?: string; //Vertical
    autoHeight?: boolean;
    spaceBetween?: number;
    setWrapperSize?: boolean;
    slidesPerView?: any;
    slidesPerGroup?: number;
    slideToClickedSlide?: boolean;
    centeredSlides?: boolean;
    freeMode?: boolean;
    freeModeSticky?: boolean;
    slidesPerColumn?: number;
    grabCursor?: boolean;
    loop?: boolean;
    loopFillGroupWithBlank?: boolean;
    effect?: string; //fade, cube, coverflow, flip
    mousewheel?: {
      forceToAxis?: boolean;
      sensitivity?: number;
      invert?: boolean;
    };
    keyboard?: {
      enabled?: boolean;
    };
    parallax?: boolean;
    zoom?: boolean;
    autoplay?: any;
    cubeEffect?: {
      shadow?: boolean;
      slideShadows?: boolean;
      shadowOffset?: number;
      shadowScale?: number;
    };
    coverflowEffect?: {
      rotate?: number;
      stretch?: number;
      depth?: number;
      modifier?: number;
      slideShadows?: boolean;
    };
    navigation?: {
      nextEl?: string;
      prevEl?: string;
    };
    pagination?: {
      el?: string;
      dynamicBullets?: boolean;
      type?: string; //fraction
      clickable?: boolean;
    };
    breakpoints?: {
      1200?: {
        slidesPerView?: number;
        spaceBetween?: number;
      };
      992?: {
        slidesPerView?: number;
        spaceBetween?: number;
      };
      768?: {
        slidesPerView?: number;
        spaceBetween?: number;
      };
      576?: {
        slidesPerView?: number;
        spaceBetween?: number;
      };
      320?: {
        slidesPerView?: number;
        spaceBetween?: number;
      };
    };
  };
  animationDuration() {
    if (this.pausedDuration) return "animation: none;";
    return (
      "animation-duration: " +
      (((this.swiperOption.autoplay || {}).delay || 0) +
        (this.swiperOption.speed || 0)) +
      "ms"
    );
  }
  HoverPlay() {
    if (this.playAfterHover == false) return;
    this.playAutoplay();
  }
  HoverPause() {
    if (this.mySwiper) {
      if (this.pauseOnHover == false) return;
      this.pauseAutoplay();
    } else return;
  }
  pauseAutoplay() {
    if (this.mySwiper) {
      this.mySwiper.autoplay.stop();
      this.pausedDuration = true;
    }
  }
  playAutoplay() {
    this.mySwiper.autoplay.start();
    this.pausedDuration = false;
  }

  viewHandler(e: any) {
    if (e.percentInView == 1) this.playAutoplay();
    else this.pauseAutoplay();
  }
  mounted() {
    setTimeout(this.pauseAutoplay, this.timeout);
  }
}
</script>

<style scoped lang="scss">
.swiper-button-prev {
  -webkit-filter: hue-rotate(360deg);
  filter: hue-rotate(360deg);
}

.swiper-button-next {
  -webkit-filter: hue-rotate(360deg);
  filter: hue-rotate(360deg);
}
</style>
