<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{
            $t("contact_custom_broker.contact_request")
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('contact_custom_broker.name')"
                    v-model="customsBrokerContact.client_name"
                    :rules="[rules.required]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    :label="$t('contact_custom_broker.email')"
                    v-model="customsBrokerContact.email"
                    :rules="[
                      rules.email,
                      rules.emailRequired,
                      rules.emailLength
                    ]"
                    type="email"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    :label="$t('contact_custom_broker.phone')"
                    v-model="customsBrokerContact.phone"
                    :rules="[rules.required]"
                    type="tel"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('contact_custom_broker.address')"
                    v-model="customsBrokerContact.address"
                    :rules="[rules.required]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    :label="$t('contact_custom_broker.company_registration')"
                    v-model="customsBrokerContact.company_registration"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-select
                    :items="['Phone', 'Email']"
                    v-model="customsBrokerContact.preferred_contact"
                    :rules="[rules.required]"
                    :label="$t('contact_custom_broker.preferred_contact')"
                    required
                  ></v-select>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-textarea
                    :label="$t('contact_custom_broker.shipment_details')"
                    v-model="customsBrokerContact.shipment_details"
                    :rules="[rules.required]"
                    :auto-grow="true"
                    :rows="4"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-textarea
                    :label="$t('contact_custom_broker.payment_details')"
                    v-model="customsBrokerContact.payment_details"
                    :rules="[rules.required]"
                    :auto-grow="true"
                    :rows="4"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
          <small>{{ $t("contact_custom_broker.required_fields") }}</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            {{ $t("contact_custom_broker.close") }}
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            :disabled="!valid"
            @click="submitContactRequest"
          >
            {{ $t("contact_custom_broker.submit") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { getRenovationCore } from "~/plugins/renovation.core";
import { getMessagesStore } from "~/store/messages";
import { CustomsBrokerContactRequest } from "~/utils/type";

@Component({
  components: {}
})
export default class ContactCustomBroker extends Vue {
  @Prop() dialog!: boolean;
  valid = false;
  customsBrokerContact: CustomsBrokerContactRequest = {} as CustomsBrokerContactRequest;

  get rules() {
    return {
      emailRequired: v => !!v || this.$t("rules.email_required"),
      email: v => /.+@.+\..+/.test(v) || this.$t("rules.email_invalid"),
      emailLength: v => v.length < 70 || this.$t("rules.max_seventy"),
      required: (value: any) => !!value || this.$t("rules.required"),
      min: (v: { length: number }) => {
        if (v && v.length) {
          return v.length >= 9 || this.$t("rules.min_nine");
        } else {
          return false;
        }
      },
      phone: (value: string) => {
        const pattern = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/;
        return pattern.test(value) || this.$t("rules.invalid_number");
      }
    };
  }

  async submitContactRequest() {
    let renovationDocument = await getRenovationCore().model.newDoc({
      doctype: "Customs Broker Contact Request"
    });
    Object.assign(renovationDocument, { ...this.customsBrokerContact });
    const r = await getRenovationCore().model.saveDoc({
      doc: renovationDocument
    });
    if (r.success) {
      await getMessagesStore(this.$store).showMessage({
        message: "Successfully Submitted"
      });

      this.customsBrokerContact = {} as CustomsBrokerContactRequest;
      this.dialog = false;
    } else {
      await getMessagesStore(this.$store).showMessage({
        message: "Something wrong happened while submitting"
      });
    }
  }
}
</script>

<style scoped></style>
