<template>
  <v-container
    fluid
    class="pa-0 background-wrapper h-100 position-relative"
    :style="`min-height: ${height}vh`"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="796"
      height="796"
      viewBox="0 0 796 796"
      class="oval1"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="0.463"
          y1="0.593"
          x2="0.195"
          y2="0.874"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#fff" stop-opacity="0" />
          <stop offset="1" stop-color="#fff" />
        </linearGradient>
      </defs>
      <circle
        id="Oval"
        cx="398"
        cy="398"
        r="398"
        opacity="0.03"
        fill="url(#linear-gradient)"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="44"
      height="44"
      viewBox="0 0 44 44"
      class="oval2"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="0.5"
          x2="0.5"
          y2="1"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#fff" stop-opacity="0" />
          <stop offset="1" stop-color="#fff" />
        </linearGradient>
      </defs>
      <circle
        id="Oval"
        cx="22"
        cy="22"
        r="22"
        opacity="0.112"
        fill="url(#linear-gradient)"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="44"
      height="44"
      viewBox="0 0 44 44"
      class="oval3"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="0.5"
          x2="0.5"
          y2="1"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#fff" stop-opacity="0" />
          <stop offset="1" stop-color="#fff" />
        </linearGradient>
      </defs>
      <circle
        id="Oval"
        cx="22"
        cy="22"
        r="22"
        opacity="0.101"
        fill="url(#linear-gradient)"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="180"
      height="180"
      viewBox="0 0 180 180"
      class="oval4"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="0.463"
          y1="0.593"
          x2="0.195"
          y2="0.874"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#fff" stop-opacity="0" />
          <stop offset="1" stop-color="#fff" />
        </linearGradient>
      </defs>
      <circle
        id="Oval"
        cx="90"
        cy="90"
        r="90"
        transform="translate(180 180) rotate(180)"
        opacity="0.109"
        fill="url(#linear-gradient)"
      />
    </svg>

    <v-content :style="`min-height: ${height}vh`">
      <v-container class="h-100">
        <slot></slot>
        <a v-scroll-to="'.content'" class="scroll-btn" v-if="showButton">
          <img
            src="../assets/images/scroll-down.svg"
            class="v-responsive scroll-img mx-auto"
          />
        </a>
      </v-container>
    </v-content>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component({
  components: {}
})
export default class HeaderComponent extends Vue {
  @Prop({ default: 100 }) height!: number;
  @Prop({ default: true }) showButton!: boolean;
}
</script>

<style scoped lang="scss">
.background-wrapper {
  background: rgb(63, 111, 200);
  background: linear-gradient(
    45deg,
    rgba(63, 111, 200, 1) 0%,
    rgba(5, 52, 118, 1) 80%
  );
}
.oval1 {
  position: absolute;
  box-sizing: content-box;
  transform: rotate(0deg);
  transform-origin: center;
  width: 798px;
  height: 798px;
  right: -300.5px;
  top: -360.5px;
}
.oval2 {
  position: absolute;
  box-sizing: content-box;
  transform: rotate(320deg);
  transform-origin: center;
  width: 46px;
  height: 46px;
  right: 50.5px;
  top: 721.5px;
}
.oval3 {
  position: absolute;
  transform: rotate(320deg);
  transform-origin: center;
  width: 46px;
  height: 46px;
  right: 603.5px;
  top: 534.5px;
}
.oval4 {
  position: absolute;
  box-sizing: content-box;
  transform: rotate(10deg);
  width: 182px;
  height: 182px;
  left: -46.5px;
  top: 801.5px;
}
.scroll-btn {
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll-img {
  max-width: 60px;
  max-height: 60px;
}
</style>
