@import "variables";

@mixin sm-min {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md-min {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg-min {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl-min {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg-max {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl-max {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}
