//Colors
$primary-green: #50AC02;
$secondary-red: #942A24;
$orange: #F56402;
$light-red: #C8483C;
$light-orange: #FDAD00;
$light-green: #A8DE1C;
$red-gradient: linear-gradient(#942a24 0%, #c8483c 100%);
$orange-gradient: linear-gradient(#fc9000 0%, #fdad00 100%);
$green-gradient: linear-gradient(#a8de1c 0%, #50ac02 100%);
$light-green-gradient: linear-gradient( #89cc12, #83c810, #7cc50e, #76c10d, #6fbd0b);
$blue-gradient: linear-gradient(#492494 0%, #523cc8 100%);
$grey: #2E2E2E;
$light-grey: #3A3A3A;
$white: #F2F2F2;

//Screen Size
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
