@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body,
.application,
.v-application,
h1,
h2,
h3,
h4,
h5,
h6,
[class^="display-"] {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
}

.v-responsive {
  height: inherit;
}
.v-app-bar {
  position: absolute !important;
  left: 0;
  top: 0;
  right: 0;
}

.row {
  margin: 0 !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}

.card {
  border-radius: 22px !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
  overflow: hidden;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.v-content,
.v-content__wrap {
  height: auto;
}
.position-relative {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: left;
  color: #053476 !important;
}

.head {
  font-weight: 500;
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.v-application--wrap{
  overflow: hidden;
}
.v-application--is-rtl .v-btn {
  letter-spacing: 0 !important;
}
