<template>
  <v-footer app class="footer pt-5">
    <v-layout row wrap class=" footer-items ">
      <!--      <div class="px-3">-->
      <!--        <v-select-->
      <!--          solo-->
      <!--          flat-->
      <!--          dense-->
      <!--          v-model="selectedLang"-->
      <!--          :items="availableLocales"-->
      <!--          item-value="code"-->
      <!--          item-text="name"-->
      <!--        >-->
      <!--        </v-select>-->
      <!--      </div>-->
      <v-flex xs12 class="d-flex justify-center">
        <div style="height: 70px">
          <img
            class="v-responsive"
            src="../../assets/images/agreement-alt-logo.svg"
          />
        </div>
      </v-flex>
      <v-flex xs12 class="d-flex justify-center mt-2">
        <v-btn nuxt text color="primary" :to="localePath('index')">
          {{ $t("routes.home") }}
        </v-btn>
        <v-btn nuxt text color="primary" :to="localePath('AboutUs')">
          {{ $t("routes.about_us") }}
        </v-btn>
        <v-btn nuxt text color="primary" :to="localePath('HowItWorks')"
          >{{ $t("routes.how_it_works") }}
        </v-btn>
        <v-btn nuxt text color="primary" :to="localePath('HowItWorks')"
          >{{ $t("routes.who_we_are") }}
        </v-btn>
        <v-btn nuxt text color="primary" :to="localePath('ContactUs')"
          >{{ $t("routes.contact_us") }}
        </v-btn>
        <v-btn nuxt text color="primary" @click="changeLang()">
          <span v-if="$i18n.locale === 'en'">عربي</span>
          <span v-else>English</span>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import { getWebsiteModule } from "~/store/web";

@Component({})
export default class FooterComponent extends Vue {
  webStore = getWebsiteModule(this.$store);
  selectedLang = this.webStore.getLocale;
  dialog = false;

  get availableLocales() {
    return this.$i18n.locales;
  }

  async changeLang() {
    this.selectedLang === "en"
      ? (this.selectedLang = "ar")
      : (this.selectedLang = "en");
    this.$vuetify.rtl = this.selectedLang === "ar";
    await this.callAgain();
    this.$i18n.setLocaleCookie(this.selectedLang);
    this.$router.replace({ path: this.switchLocalePath(this.selectedLang) });
  }

  async callAgain() {
    this.webStore.SET_LOCALE(this.selectedLang);
    console.log("Running...");
    await Promise.all([
      this.webStore.loadHomepage(),
      this.webStore.loadAboutUsPage(),
      this.webStore.loadWhoWeArePage(),
      this.webStore.loadHowItWorksPage(),
      this.webStore.loadContactUsPage(),
      this.webStore.loadCustomsBroker(),
      this.webStore.loadBusinessOpportunities(),
      this.webStore.loadPackages()
    ]);
  }

  options() {
    return {
      duration: 1000,
      offset: 450,
      easing: "easeOutQuart"
    };
  }
}
</script>

<style scoped lang="scss">
@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.footer {
  height: unset !important;
  padding: 0.5rem 0;
  position: static;
  background: white;
  @include sm-max {
    position: unset !important;
  }
}
.v-btn:before {
  background: transparent;
}
</style>
