<template>
  <v-app-bar
    app
    flat
    :fixed="false"
    elevation="0"
    color="transparent"
    height="100"
    top
    class="px-3"
  >
    <v-flex>
      <div style="height: 70px">
        <img
          class="v-responsive"
          src="../../assets/images/agreement-logo.svg"
        />
      </div>
    </v-flex>
    <v-flex class="d-flex d-md-block justify-end">
      <v-app-bar-nav-icon
        dark
        @click="open()"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>
      <v-btn nuxt dark text :to="localePath('/')" class="hidden-sm-and-down">
        {{ $t("routes.home") }}
      </v-btn>
      <v-btn
        nuxt
        dark
        text
        :to="localePath('AboutUs')"
        class="hidden-sm-and-down"
      >
        {{ $t("routes.about_us") }}
      </v-btn>
      <v-btn
        nuxt
        dark
        text
        :to="localePath('HowItWorks')"
        class="hidden-sm-and-down"
        >{{ $t("routes.how_it_works") }}
      </v-btn>
      <v-btn
        nuxt
        text
        dark
        :to="localePath('WhoWeAre')"
        class="hidden-sm-and-down "
        >{{ $t("routes.who_we_are") }}
      </v-btn>
      <v-btn
        nuxt
        text
        dark
        :to="localePath('ContactUs')"
        class="hidden-sm-and-down "
        >{{ $t("routes.contact_us") }}
      </v-btn>
      <v-btn
        nuxt
        text
        dark
        :to="localePath('CustomBrokerList')"
        class="hidden-sm-and-down "
        >{{ $t("routes.customs_broker_list") }}
      </v-btn>
      <v-btn
        nuxt
        text
        dark
        :to="localePath('Packages')"
        class="hidden-sm-and-down "
        >{{ $t("routes.packages") }}
      </v-btn>
      <v-btn
        rounded
        color="secondary"
        @click="addCustomsBroker = true"
        class="register-btn ma-2 hidden-sm-and-down"
        large
      >
        <v-icon>
          mdi-plus
        </v-icon>
        {{ $t("routes.register_as_broker") }}
      </v-btn>
    </v-flex>
    <AddCustomBroker
      :dialog="addCustomsBroker"
      @close="addCustomsBroker = false"
    ></AddCustomBroker>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import AddCustomBroker from "~/components/AddCustomBroker.vue";

@Component({
  components: { AddCustomBroker }
})
export default class HeaderComponent extends Vue {
  drawer = false;
  addCustomsBroker = false;

  open() {
    this.drawer = !this.drawer;
    this.$emit("drawer", this.drawer);
  }
}
</script>

<style scoped lang="scss">
.v-btn {
  border-bottom: 2px solid transparent;
  font-weight: bold;
}
.v-btn:before {
  background: transparent;
}
.v-btn--active {
  border-bottom: 2px solid white;
  border-radius: 0px;
}
</style>
