<template>
  <v-app :dir="langPosition">
    <div v-if="$route.path == localePath('index')"></div>
    <v-navigation-drawer
      v-model="drawer"
      :left="langPosition === 'ltr'"
      :right="langPosition === 'rtl'"
      temporary
      fixed
      color="primary"
    >
      <v-list>
        <v-list-item :to="localePath('index')">
          <v-list-item-title class="white--text">{{
            $t("routes.home")
          }}</v-list-item-title>
        </v-list-item>
        <v-list-item :to="localePath('AboutUs')">
          <v-list-item-title class="white--text"
            >{{ $t("routes.about_us") }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item :to="localePath('HowItWorks')">
          <v-list-item-title class="white--text">
            {{ $t("routes.how_it_works") }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item :to="localePath('WhoWeAre')">
          <v-list-item-title class="white--text">
            {{ $t("routes.who_we_are") }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item :to="localePath('ContactUs')"
          ><v-list-item-title class="white--text">{{
            $t("routes.contact_us")
          }}</v-list-item-title></v-list-item
        >
        <v-list-item :to="localePath('CustomBrokerList')"
          ><v-list-item-title class="white--text">{{
            $t("routes.customs_broker_list")
          }}</v-list-item-title></v-list-item
        >
        <v-list-item :to="localePath('Packages')"
          ><v-list-item-title class="white--text">{{
            $t("routes.packages")
          }}</v-list-item-title></v-list-item
        >
        <v-list-item @click="addCustomsBroker = true"
          ><v-list-item-title class="white--text">{{
            $t("routes.register_as_broker")
          }}</v-list-item-title></v-list-item
        >
      </v-list>
    </v-navigation-drawer>
    <Header @drawer="openNavDrawer()"></Header>
    <v-content class="pa-0">
      <nuxt />
    </v-content>
    <Footer></Footer>
    <AddCustomBroker
      :dialog="addCustomsBroker"
      @close="addCustomsBroker = false"
    ></AddCustomBroker>
    <v-layout class="ma-0" justify-center row wrap>
      <v-dialog persistent v-model="showMessageDialog" width="800">
        <v-card>
          <v-card-title class="headline">Message</v-card-title>
          <v-card-text>
            <div :key="idx" v-for="(m, idx) in messages">
              {{ m.message }}
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn @click="closeandClear()" color="red" text>Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import Header from "~/layouts/partials/Header.vue";
import Footer from "~/layouts/partials/Footer.vue";
import { getMessagesStore } from "~/store/messages";
import AddCustomBroker from "~/components/AddCustomBroker.vue";

@Component({
  components: {
    AddCustomBroker,
    Header,
    Footer
  }
})
export default class DefaultLayout extends Vue {
  MessageStore = getMessagesStore(this.$store);
  drawer = false;
  addCustomsBroker = false;
  openNavDrawer() {
    this.drawer = !this.drawer;
  }
  get langPosition() {
    if (this.$i18n.locale === "en") {
      return "ltr";
    }
    return "rtl";
  }

  get showMessageDialog() {
    return this.MessageStore.getIsMessageShown;
  }

  get showActionButtons() {
    return this.MessageStore.getShowControls;
  }
  get messages() {
    return this.MessageStore.getMessages;
  }
  closeandClear() {
    this.MessageStore.clearAndClose();
  }
}
</script>
<style lang="scss"></style>
