<template>
  <v-app>
    <div v-if="$route.path == localePath('index')"></div>
    <Header></Header>
    <v-content class="pa-0">
      <HeaderComponent height="100" :showButton="false">
        <h1 v-if="error.statusCode === 404" class="white--text">
          {{ pageNotFound }}
        </h1>
        <h1 v-else class="white--text">
          {{ otherError }}
        </h1>
        <NuxtLink to="/" class="white--text">
          Home page
        </NuxtLink>
      </HeaderComponent>
    </v-content>
  </v-app>
</template>

<script>
import HeaderComponent from "~/components/HeaderComponent";
export default {
  components: { HeaderComponent },
  layout: "empty",
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title
    };
  },
  data() {
    return {
      pageNotFound: "404 Not Found",
      otherError: "An error occurred"
    };
  }
};
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
