<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="60">
        <v-layout row wrap class="h-100 align-center">
          <v-flex xs12 class="d-flex  align-center">
            <div class="head">
              {{ $t("routes.about_us") }}
            </div>
          </v-flex>
        </v-layout>
      </HeaderComponent>
    </div>
    <v-container class="pa-5 mt-5 content">
      <p>
        <img
          class="v-responsive"
          style="padding: 0 15px; float: left; max-width: 500px"
          :src="getUrl"
        />
      </p>
      <div v-html="aboutUs.content"></div>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import HeaderComponent from "~/components/HeaderComponent.vue";
import { getRenovationCore } from "~/plugins/renovation.core";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { HeaderComponent }
})
export default class AboutUs extends Vue {
  async fetch() {
    await webStore.loadAboutUsPage();
  }

  get aboutUs() {
    return webStore.aboutUsPage;
  }
  get getUrl() {
    if (Object.keys(this.aboutUs).length && this.aboutUs.image) {
      return getRenovationCore().config.hostUrl + this.aboutUs.image;
    } else {
      return "";
    }
  }
}
</script>

<style scoped lang="scss"></style>
