<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="60">
        <v-layout row wrap class="h-100 align-center">
          <v-flex xs12 class="d-flex  align-center">
            <div class="head">
              {{ $t("contact_us.contact_us") }}
            </div>
          </v-flex>
        </v-layout>
      </HeaderComponent>
    </div>
    <div class="pa-0 content">
      <v-layout row wrap class="  overflow-hidden">
        <v-flex md6 class="position-relative">
          <img
            class="v-responsive v-img h-100 w-100 about-us-img"
            style="object-fit: cover"
            :src="getUrlImg"
          />
        </v-flex>
        <v-flex md6 style="background: #EFF3FA">
          <div class=" h-100 pa-12">
            <v-form ref="form" v-model="valid">
              <v-layout class="mt-5 pt-4" row wrap>
                <v-flex class="px-2" xs12>
                  <h4 class="v-label">
                    {{ $t("contact_us.full_name") }}
                  </h4>
                  <v-text-field
                    background-color="white"
                    filled
                    :rules="[rules.required]"
                    required
                    v-model="full_name"
                  ></v-text-field>
                </v-flex>
                <v-flex class="px-2" xs12>
                  <h4 class="v-label">
                    {{ $t("contact_us.email_address") }}
                  </h4>
                  <v-text-field
                    :rules="[rules.emailRequired, rules.email, rules.emailLength]"
                    background-color="white"
                    filled
                    required
                    type="email"
                    v-model="email"
                  ></v-text-field>
                </v-flex>
                <v-flex class="px-2" xs12>
                  <h4 class="v-label">
                    {{ $t("contact_us.number") }}
                  </h4>
                  <v-text-field
                    :counter="9"
                    :rules="[rules.required, rules.phone, rules.min]"
                    background-color="white"
                    filled
                    prefix="+966"
                    required
                    type="tel"
                    v-model="phone_number"
                  ></v-text-field>
                </v-flex>
                <v-flex class="px-2" xs12>
                  <h4 class="v-label">
                    {{ $t("contact_us.subject") }}
                  </h4>
                  <v-text-field
                    background-color="white"
                    filled
                    :rules="[rules.required]"
                    required
                    v-model="subject"
                  ></v-text-field>
                </v-flex>
                <v-flex class="px-2" xs12>
                  <h4 class="v-label">
                    {{ $t("contact_us.write_message") }}
                  </h4>
                  <v-textarea
                    auto-grow
                    background-color="white"
                    filled
                    :rules="[rules.required]"
                    required
                    v-model="message"
                  ></v-textarea>
                </v-flex>
                <v-flex class="px-2 d-flex justify-end align-end" xs12>
                  <v-btn
                    :disabled="!valid"
                    @click="sendFeedback()"
                    block
                    class="font-weight-bold py-3"
                    color="primary"
                    elevation="0"
                    height="auto"
                  >
                    {{ $t("contact_us.submit") }}
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-form>
          </div>
        </v-flex>
      </v-layout>
    </div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { getRenovationCore } from "~/plugins/renovation.core";
import { getMessagesStore } from "~/store/messages";
import HeaderComponent from "~/components/HeaderComponent.vue";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { HeaderComponent }
})
export default class ContactUs extends Vue {
  fetch() {
    webStore.loadContactUsPage();
  }

  full_name = "";
  phone_number = "";
  email = "";
  subject = "";
  message = "";
  valid = false;

  get rules() {
    return {
      emailRequired: v => !!v || this.$t("rules.email_required"),
      email: v => /.+@.+\..+/.test(v) || this.$t("rules.email_invalid"),
      emailLength: v => v.length < 70 || this.$t("rules.max_seventy"),
      required: (value: any) => !!value || this.$t("rules.required"),
      min: (v: { length: number }) => {
        if (v && v.length) {
          return v.length >= 9 || this.$t("rules.min_nine");
        } else {
          return false;
        }
      },
      phone: (value: string) => {
        const pattern = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/;
        return pattern.test(value) || this.$t("rules.invalid_number");
      }
    };
  }

  get contactUs() {
    return webStore.contactUsPage;
  }

  get getUrlImg() {
    if (Object.keys(this.contactUs).length && this.contactUs.image) {
      return getRenovationCore().config.hostUrl + this.contactUs.image;
    } else {
      return "";
    }
  }

  async sendFeedback() {
    let RenovationDocument = await getRenovationCore().model.newDoc({
      doctype: "Agreement Contact Request"
    });
    Object.assign(RenovationDocument, {
      first_name: this.full_name,
      mobile_number: `+966${this.phone_number}`,
      email_address: this.email,
      subject: this.subject,
      message: this.message
    });
    const r = await getRenovationCore().model.saveDoc({
      doc: RenovationDocument
    });
    if (r.success) {
      await getMessagesStore(this.$store).showMessage({
        message: "Successfully Submitted"
      });
      this.full_name = "";
      this.phone_number = "";
      this.email = "";
      this.subject = "";
      this.message = "";
    } else {
      await getMessagesStore(this.$store).showMessage({
        message: "Failed to Submit"
      });
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/style/mixins";
.v-label {
  margin-bottom: 0.5rem;
}
.about-us-img {
  @include lg-max {
    max-height: 20em;
  }
}
</style>
