<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="60">
        <v-layout row wrap class="h-100 align-center">
          <v-flex xs12 class="d-flex  align-center">
            <div class="head" style="position: relative">
              {{ $t("routes.customs_broker_list") }}
            </div>
          </v-flex>
        </v-layout>
        <v-btn
          absolute
          rounded
          bottom
          right
          x-large
          color="secondary"
          @click="addCustomsBroker = true"
          class="register-btn"
        >
          <v-icon>
            mdi-plus
          </v-icon>
          {{ $t("routes.register_as_broker") }}
        </v-btn>
      </HeaderComponent>
    </div>
    <div class="pa-5 pb-5 content" style="background: #EFF3FA">
      <v-container>
        <v-layout row wrap>
          <v-flex
            md6
            class="pa-3"
            v-for="broker in customBrokers"
            :key="broker.name"
          >
            <v-card class="card d-flex w-100 h-100">
              <v-card-text>
                <v-layout class="h-100 w-100" justify-space-between row wrap>
                  <v-flex lg6 class="px-2">
                    <v-img
                      contain
                      height="150px"
                      :src="getBrokerUrl(broker.logo)"
                      class="v-responsive company-logo mx-auto"
                    />
                  </v-flex>
                  <v-flex lg6 class="px-2">
                    <h4 v-if="$i18n.locale === 'ar' && broker.company_name_ar">{{ broker.company_name_ar }}</h4>
                    <h4 v-else>{{ broker.company_name }}</h4>
                    <div>{{ broker.contact }}</div>
                    <div>{{ broker.email }}</div>
                    <div>{{ broker.address }}</div>
                    <v-btn color="primary" dark @click="addCustomsBroker = true"
                      >{{ $t("contact_us.contact_us") }}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <ContactCustomBroker
          :dialog="dialog"
          @close="dialog = false"
        ></ContactCustomBroker>
        <AddCustomBroker
          :dialog="addCustomsBroker"
          @close="addCustomsBroker = false"
        ></AddCustomBroker>
      </v-container>
    </div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import HeaderComponent from "~/components/HeaderComponent.vue";
import { getRenovationCore } from "~/plugins/renovation.core";
import ContactCustomBroker from "~/components/ContactCustomBroker.vue";
import AddCustomBroker from "~/components/AddCustomBroker.vue";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { HeaderComponent, ContactCustomBroker, AddCustomBroker }
})
export default class CustomBrokerList extends Vue {
  async fetch() {
    await webStore.loadCustomsBroker();
  }

  addCustomsBroker = false;
  dialog = false;

  get customBrokers() {
    return webStore.customBrokers;
  }

  get getBrokerUrl() {
    return (image: string) => {
      if (image) return getRenovationCore().config.hostUrl + image;
      else return require(`../assets/images/agreement-alt-logo.svg`);
    };
  }
}
</script>

<style scoped lang="scss">
.company-logo {
  max-height: 200px;
}
.register-btn {
  bottom: -17vh !important;
}
</style>
