<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="60">
        <v-layout row wrap class="h-100 align-center">
          <v-flex xs12 class="d-flex  align-center">
            <div class="head">
              {{ $t("how_to_steps.how_to_steps") }}
            </div>
          </v-flex>
        </v-layout>
      </HeaderComponent>
    </div>
    <v-container class="pa-5 mt-5 content">
      <v-layout
        row
        wrap
        class="my-5 py-5"
        v-for="(step, index) in howItWorks.steps"
        :key="index"
      >
        <v-flex sm2 class="px-3">
          <img :src="getStepUrl(step.image)" class="v-responsive mx-auto" />
        </v-flex>
        <v-flex sm10 class="px-3">
          <h3 class=" mb-2">{{ step.title }}</h3>
          <div v-html="step.content"></div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import { getRenovationCore } from "~/plugins/renovation.core";
import HeaderComponent from "~/components/HeaderComponent.vue";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { HeaderComponent }
})
export default class HowItWorks extends Vue {
  async fetch() {
    await webStore.loadHowItWorksPage();
  }

  get howItWorks() {
    return webStore.howItWorksPage;
  }
  getStepUrl(image: string) {
    return getRenovationCore().config.hostUrl + image;
  }
}
</script>

<style scoped lang="scss">
ol {
  counter-reset: item;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
li li:before {
  content: counter(item, lower-alpha) ". ";
}
</style>
