<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="100">
        <v-layout row wrap class="h-100 align-center">
          <v-flex sm6>
            <div class="head" v-html="homePage.content"></div>
          </v-flex>
          <v-flex sm6>
            <img class="v-responsive mx-auto" :src="getUrlMainImg" />
          </v-flex>
        </v-layout>
      </HeaderComponent>
      <v-layout row wrap class="position-relative content">
        <div class="overlay"></div>
        <img :src="getUrlCoverImg" class="v-responsive" />
      </v-layout>
      <div class=" py-12">
        <h4 class=" text-center">
          {{ $t("home_page.business_opportunities") }}
        </h4>
        <div class="py-3">
          <Carousel
            :swiper-option="itemCarouselOptions"
            :navigation="true"
            :pagination="true"
          >
            <div class="swiper-wrapper pa-3">
              <div
                class="swiper-slide"
                slot="slide"
                v-for="opportunity in businessOpportunities"
              >
                <div>
                  <v-col class=" justify-center align-center">
                    <img
                      style="max-height: 10em"
                      class="v-responsive mx-auto business-opportunity secondary"
                      :src="getOpportunityUrl(opportunity.image)"
                    />
                    <h5 class="text-center">{{ opportunity.title }}</h5>
                  </v-col>
                </div>
              </div>
            </div>
          </Carousel>
        </div>
      </div>
      <v-layout row wrap class=" overflow-hidden" style="max-height: 500px">
        <v-flex md6>
          <div class="who-we-are-desc h-100 pa-12">
            <h4>
              {{ whoWeAre.title }}
            </h4>
            <div class="mt-4" v-html="whoWeAre.summary"></div>
          </div>
        </v-flex>
        <v-flex md6 class="position-relative">
          <div class="overlay-2"></div>
          <img class="v-responsive v-img" :src="getUrlWhoWeAreImg" />
          <v-btn
            class="center-btn highlight-button"
            :to="localePath('WhoWeAre')"
            text
            >{{ $t("home_page.who_we_are") }}</v-btn
          >
        </v-flex>
      </v-layout>
      <v-container
        fluid
        class="pa-0 "
        style="min-height: 20em; background: #053476"
      >
        <v-layout
          row
          wrap
          column
          class="justify-center py-5"
          style="min-height: 20em"
        >
          <div>
            <img
              class="v-responsive mx-auto"
              style="max-width: 70px"
              src="../assets/images/envelope.svg"
            />
          </div>
          <div class="text-center mt-4">
            <v-btn
              class="highlight-button  "
              :to="localePath('ContactUs')"
              text
              >{{ $t("home_page.contact") }}</v-btn
            >
          </div>
        </v-layout>
      </v-container>
      <v-container fluid class="pa-0 secondary" style="min-height: 20em;">
        <v-layout
          row
          wrap
          column
          class="justify-center py-5"
          style="min-height: 20em"
        >
          <div class="text-center mt-4">
            <h1 class="white--text text-center">
              {{ $t("home_page.check_out_our_app") }}
            </h1>
          </div>
          <div class="d-flex justify-space-around pt-3">
            <a @click="openLink(homePage.play_store)">
              <img class="img-fluid" src="../assets/images/playstore.svg" />
            </a>
            <a @click="openLink(homePage.app_store)">
              <img class="img-fluid" src="../assets/images/appstore.svg" />
            </a>
          </div>
        </v-layout>
      </v-container>
    </div>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import { BusinessOpportunity, HomePage, WhoWeArePage } from "~/utils/type";
import { getRenovationCore } from "~/plugins/renovation.core";
import HeaderComponent from "~/components/HeaderComponent.vue";
import Carousel from "~/components/Carousel.vue";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { Carousel, HeaderComponent }
})
export default class index extends Vue {
  async fetch() {
    await webStore.loadHomepage();
    await webStore.loadWhoWeArePage();
    await webStore.loadBusinessOpportunities();
  }

  get homePage(): HomePage {
    return webStore.homePage;
  }
  get businessOpportunities(): Array<BusinessOpportunity> {
    return webStore.businessOpportunities;
  }
  get whoWeAre(): WhoWeArePage {
    return webStore.whoWeArePage;
  }

  get getUrlMainImg() {
    if (Object.keys(this.homePage).length && this.homePage.main_image) {
      return getRenovationCore().config.hostUrl + this.homePage.main_image;
    } else {
      return "";
    }
  }
  get getUrlCoverImg() {
    if (Object.keys(this.homePage).length && this.homePage.cover_image) {
      return getRenovationCore().config.hostUrl + this.homePage.cover_image;
    } else {
      return "";
    }
  }
  get getUrlWhoWeAreImg() {
    if (Object.keys(this.whoWeAre).length && this.whoWeAre.image) {
      return getRenovationCore().config.hostUrl + this.whoWeAre.image;
    } else {
      return "";
    }
  }
  getOpportunityUrl(image: string) {
    return getRenovationCore().config.hostUrl + image;
  }
  openLink(value: string) {
    window.open(value, "_blank");
  }
  itemCarouselOptions = {
    speed: 500,
    direction: "horizontal", //Vertical
    spaceBetween: 0,
    slidesPerView: 5,
    slidesPerGroup: 1,
    centeredSlides: true,
    freeMode: false,
    slidesPerColumn: 1,
    grabCursor: true,
    loop: true,
    loopFillGroupWithBlank: false,
    effect: "none", //fade, cube, coverflow, flip
    mousewheel: false,
    keyboard: {
      enabled: false
    },
    parallax: false,
    zoom: false,
    autoplay: false,
    cubeEffect: {
      shadow: true,
      slideShadows: true,
      shadowOffset: 1,
      shadowScale: 1
    },
    coverflowEffect: {
      rotate: 2,
      stretch: 2,
      depth: 2,
      modifier: 2,
      slideShadows: true
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
      type: "bullets", //fraction
      clickable: true
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    breakpoints: {
      1200: {
        slidesPerView: 3,
        spaceBetween: 5
      },
      992: {
        slidesPerView: 3,
        spaceBetween: 5
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 5
      },
      576: {
        slidesPerView: 1,
        spaceBetween: 5
      },
      320: {
        slidesPerView: 1,
        spaceBetween: 5
      }
    }
  };
}
</script>

<style scoped lang="scss">
.head {
  font-weight: normal;
  font-size: 38px;
  line-height: 89px;
  text-align: left;
  color: #fff;
}
.overlay {
  backdrop-filter: blur(1.0986299514770508px);
  --webkit-backdrop-filter: blur(1.0986299514770508px);
  background-color: #053476;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}
.overlay-2 {
  background: linear-gradient(#3f6fc8 0%, #053476 100%);
  opacity: 0.22;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.who-we-are-desc {
  background: #cddaf4;
}
.center-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
}
.highlight-button {
  color: white;
  padding: 18px 24px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid white;
  font-weight: bolder;
  font-size: larger;
}
.business-opportunity {
  border-radius: 50%;
}
</style>
