<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="60">
        <v-layout row wrap class="h-100 align-center">
          <v-flex xs12 class="d-flex  align-center">
            <div class="head">
              {{ $t("routes.packages") }}
            </div>
          </v-flex>
        </v-layout>
      </HeaderComponent>
    </div>
    <v-container class="pa-5 mt-5 content">
      <v-layout row wrap>
        <v-flex md6 class="pa-3" v-for="(pack, index) in packages" :key="index">
          <v-card class="card d-flex w-100 h-100">
            <v-card-text>
              <v-layout class="h-100 w-100" justify-space-between row wrap>
                <v-flex lg12 class="px-2" v-if="pack.image">
                  <v-img
                    contain
                    height="200px"
                    :src="getPackageUrl(pack.image)"
                    class="v-responsive package-logo mx-auto"
                  />
                </v-flex>
                <v-flex lg12 class="px-2">
                  <h2 v-if="$i18n.locale === 'en'">{{ pack.title }}</h2>
                  <h2 v-else>{{ pack.title }}</h2>
                  <v-layout row wrap justify-space-between class="mt-3">
                    <h4>
                      {{ $t("packages.duration") }}
                    </h4>
                    <div>
                      {{ pack.duration }}
                    </div>
                  </v-layout>
                  <v-layout row wrap justify-space-between>
                    <h4>
                      {{ $t("packages.price") }}
                    </h4>
                    <div>
                      {{ pack.price }}
                    </div>
                  </v-layout>
                  <h2 class="mt-4">{{ $t("packages.features") }}</h2>
                  <v-layout
                    row
                    wrap
                    class=" "
                    v-for="feature in pack.features"
                    :key="feature.title"
                  >
                    <v-flex sm2 class="px-3" v-if="feature.image">
                      <img
                        :src="getPackageUrl(feature.image)"
                        class="v-responsive mx-auto"
                      />
                    </v-flex>
                    <v-flex sm10 :class="feature.image ? 'px-3' : ''">
                      <h3 class=" mb-2" v-if="$i18n.locale === 'en'">
                        {{ feature.title }}
                      </h3>
                      <h3 class=" mb-2" v-else>{{ feature.title_ar }}</h3>

                      <div
                        v-if="$i18n.locale === 'en'"
                        v-html="feature.description"
                      ></div>
                      <div v-else v-html="feature.description_ar"></div>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import HeaderComponent from "~/components/HeaderComponent.vue";
import { getRenovationCore } from "~/plugins/renovation.core";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { HeaderComponent }
})
export default class Packages extends Vue {
  async fetch() {
    await webStore.loadPackages();
  }
  get packages() {
    return webStore.packages;
  }
  get getPackageUrl() {
    return (image: string) => {
      if (image) return getRenovationCore().config.hostUrl + image;
    };
  }
}
</script>

<style scoped lang="scss">
.package-logo {
  max-height: 200px;
}
</style>
