<template>
  <v-container fluid class="pa-0">
    <div>
      <HeaderComponent height="60">
        <v-layout row wrap class="h-100 align-center">
          <v-flex xs12 class="d-flex  align-center">
            <div class="head">
              {{$t('routes.who_we_are')}}
            </div>
          </v-flex>
        </v-layout>
      </HeaderComponent>
    </div>
    <v-container class="pa-5 mt-5 content">
      <div v-html="whoWeAre.content"></div>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import HeaderComponent from "~/components/HeaderComponent.vue";
import { WhoWeArePage } from "~/utils/type";
import { webStore } from "~/utils/store-accessor";

@Component({
  components: { HeaderComponent }
})
export default class WhoWeAre extends Vue {
  fetch() {
    webStore.loadWhoWeArePage();
  }
  get whoWeAre(): WhoWeArePage {
    return webStore.whoWeArePage;
  }
}
</script>

<style scoped lang="scss"></style>
